body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e7eb8e;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('download.jpeg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
  }
  
  .login-box {
    background-color: rgba(35, 110, 189, 0.944); /* Transparent grey box */
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  a{
    text-decoration: none;
  }

  h2 {
    margin-bottom: 20px;
    color: #070707;
  }
  
  p {
    margin-top: 20px;
    color: #343434;
  }
  
  a {
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #171b21;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #e7eb8e;
    color: #2d2f32;
  }
  