.header {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content:space-BETWEEN;
    background-color: #d7d8da;
    align-items:center;
    /**color: #5d5d5a;**/
    padding: 10px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #d7d8da;
    background-image: url('tool.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjusted background size */
    background-attachment: scroll;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
  }
@font-face {
    font-family: 'akro';
    src: url('Akrobat-Black.otf');
}
@font-face {
    font-family: 'cool';
    src: url('coolvetica\ rg.ttf');
}

body {
    background-image: url('tool.png'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    /*font-size: 24px;
     font-weight: 800;*/
   
    color: #323232;
}

a{
    text-decoration: none;
    color:#323232;
    margin: 8px;
    
    
}
a:hover{
    color: #bb2222;
}
.hm {
    font-family: 'akro';
    font-size: 120px;
    margin-left: 66px;
}

/*table*/
.status {
    overflow-x: auto;
}

.status-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    
}

.status-table th, .status-table td {
    border: 3px solid #3a3a3a;
    padding: 8px;
}

.status-table th {
    background-color: #bb2222;
    color: white;
}

.status-table tr:nth-child(even) {
    background-color: #ffffff;
}

.status-table tr:hover {
    background-color: #f1dbb6;
}

p{
    display: flex;
    font-family: 'cool';
    font-size: 70px;
    justify-content: center;
    align-items: center;
    background-color: #bb2222;
    height: 65vh;
    margin-bottom: 0;

}