@font-face {
    font-family: 'main';
    src: url('Hartone.ttf');
}

@font-face {
    font-family: 'agrandir';
    src: url('Agrandir-WideLight.otf');
}

body {
    background-color: #bfb5ae;
    margin: 0;
}

.header {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content:space-BETWEEN;
    background-color: #d7d8da;
    align-items:center;
    /**color: #5d5d5a;**/
    padding: 10px;
}

.logo{
    /*font-size: 24px;
     font-weight: 800;*/
   
    color: #323232;
}

a{
    text-decoration: none;
    color:#000000;
    margin: 8px;
    
    
}
a:hover{
    color: #bb2222;
}

/** box1 **/
.box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-shrink: 0;
    background-color:#d7d8da;;
    padding: 10px;
    
    height: 91vh;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    color: #000000;
    /**background-color: aquamarine;**/
    min-height: 55%;
    padding: 10px;
    justify-content: space-around;
    
}

.text{
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    /**background-color: red;**/
    padding: 10px;
    
}

.sub{
    font-size: 45px;
    font-family: 'agrandir';
    font-weight: 700;
    /**background-color: rgb(202, 233, 138);**/
}
.main {
    font-family: 'main';
    font-size: 150px;
    color: #161616;
    /**background-color: olivedrab;*//
    
}


.buttons{
    display: flex;
    /**background-color: blueviolet;*/
    padding: 10px;
    box-sizing: content-box;
    justify-content: flex-end;
}


.b1 {
    
    background-color: #c52d25;
    
    border-radius: 15px;
    border-color:#eb773956;
    cursor: pointer;
    size: 50px;
    min-width: 120px;
    min-height: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}

.b1:hover {
    background-color: #dc3128;
    transform: scale(1.05); /* Slightly expand the button */
    box-shadow: 0 4px 8px #a5a4a4; /* Add shadow */
}

.mech {
    color: #be2a2a;
}

.butt2 {
    display: flex;
    justify-content: space-around;
    max-width: 100px;
    /**background-color: #5d5d5a;**/
    min-width: 300px;
    
}


/** footer **/
.footer{
    text-align: center;
    font-family: monospace;
    background-color:#bfb5ae;
    
}
